{#
/**
 * @file
 * Default theme implementation of standard Better Social Share Buttons.
 *
 * Available variables:
 * - button_image: URL for universal button.
 * - more_button_type: Setting of button.
 * - buttons_size: Size of buttons.
 * - more_button_placement: Value of 'before' or 'after' to place button.
 * - entity_url: Value of URL to share.
 * - entity_title: Value of page title to share.
 * - social_share_platforms: Values of active social medias
 *
 * @ingroup themeable
 */
#}
{# Remove whitespace between tags for even spacing between buttons. #}

{% apply spaceless %}
  {% if btn_type == 'transparent' %}
    {% set btn_bg_color = '' %}
  {% endif %}

  {% if icon_color_type == 'default' %}
    {% set icon_color = '#fff' %}
  {% endif %}

{% set float_class = '' %}
{% set float_wrapper = '' %}
  {% if float is defined and float == 'left' %}
{% set float_wrapper = 'social-share-float-wrapper social-share-float-wrapper-'~ float %}
    {% set float_class = 'social-share-float-left' %}
      {% elseif float is defined and float == 'right' %}
{% set float_wrapper = 'social-share-float-wrapper social-share-float-wrapper-'~ float %}
    {% set float_class = 'social-share-float-left' %}
  {% endif %}

{% if top is not defined %}
  {% set top = '' %}
{% endif %}

  {% if more_button_type != 'none' %}
    {% set more_button %}
    {% set transparent_bg = (btn_type == 'transparent') ? 'transparent-bg' : '' %}
      <a class="better_social_share popup-trigger social-link-more {{ transparent_bg }}" href="javascript:void(0);" {% if btn_bg_color %}style="background-color:{{ btn_bg_color }}"{% endif %}>
        {% if button_image %}
          <img src="{{ button_image }}" alt="{{ 'Share'|t }}">
        {% else %}
          <span class="better-social-share-svg" style="width:{{ buttons_size }}px;height:{{ buttons_size }}px;display:block;float:left;" title="{{ 'More'|t }}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="{{ icon_color|default('#fff') }}" preserveAspectRatio="xMidYMid meet" height="100%" width="100%" viewBox="-5 -5 42 42">
              <path d="m26 22.8c2.7 0 4.8 2.2 4.8 4.8s-2.1 5-4.8 5-4.8-2.3-4.8-5c0-0.3 0-0.7 0-1.1l-11.8-6.8c-0.9 0.8-2.1 1.3-3.4 1.3-2.7 0-5-2.3-5-5s2.3-5 5-5c1.3 0 2.5 0.5 3.4 1.3l11.8-6.8c-0.1-0.4-0.2-0.8-0.2-1.1 0-2.8 2.3-5 5-5s5 2.2 5 5-2.3 5-5 5c-1.3 0-2.5-0.6-3.4-1.4l-11.8 6.8c0.1 0.4 0.2 0.8 0.2 1.2s-0.1 0.8-0.2 1.2l11.9 6.8c0.9-0.7 2.1-1.2 3.3-1.2z"></path>
          </svg>
          </span>
        {% endif %}
      </a>      
    {% endset  %}
  {% endif %}

<div class="{{ float_wrapper }} {{ top }}">
{{ buttons_label }}
<div class="social-share-btns{{ btn_border_round?' round-border':'' }} {{ btn_show_label?'social-media-show-label':'' }} {{ enable_button_spacing?'social-media-spacing':'' }} {{ float_class }}" data-entity_url = "{{ entity_url }}" data-entity_title = "{{ entity_title }}" >
{% if more_button_placement == 'before' %}
      {{ more_button }}
    {% endif %}
    {% for key, platform in social_share_platforms %}
      {% set templatePath = platform.key ~ '.html.twig' %}
      {% if media_file_exists(templatePath) %}
         {% include get_media_file_path(templatePath) with {
            platform_key: (btn_type == 'transparent') ? 'transparent' : platform.key,
            buttons_size: buttons_size,
            btn_bg_color: btn_bg_color,
            btn_type: btn_type,
            icon_color: icon_color,
            btn_border_round: btn_border_round,
            entity_url: entity_url,
            entity_title: entity_title
         } %}
        {% endif %}
      {% endfor %}

  {% if more_button_placement == 'after' %}
      {{ more_button }}
    {% endif %}
</div>
</div>
{% endapply %}
