<footer class="footer full-width">
  {% if page.footer_top %}
  <div class="footer-top full-width">
    <div class="container">
      {{ page.footer_top }}
    </div>
  </div>
  {% endif %}
  <div class="footer-main full-width">
    <div class="container">
      {% if page.footer %}
        <section class="footer-blocks full-width">
          {{ page.footer }}
        </section>
      {% endif %}
      {% if page.footer_bottom %}
        <section class="footer-bottom-blocks full-width">
          {{ page.footer_bottom }}
        </section>
      {% endif %}
      {% if copyright_text or all_icons_show %}
        <div class="footer-last">
          {% if copyright_text %}
            <div class="copyright footer-last-region">
              &copy; {{ "now"|date("Y") }} {{ site_name }}, All rights reserved.
            </div>
          {% endif %}
          {% if all_icons_show %}
            <div class="footer-social footer-last-region">
              {% include '@kart/parts/social.html.twig' %}
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</footer>
{% if scrolltotop_on %}
  <div class="scrolltop"><i class="bi bi-chevron-up"></i></div>
{% endif %}