{%
  set classes = [
  'items',
  'gap',
  'product-content-full',
]
%}

<article{{ attributes.addClass(classes) }}>
  <div class="product-image">
    {% if product.variation_field_image|render is not empty %}
      <div class="product-variation-image">{{- product.variation_field_image -}}</div>
    {% else %}
      <div class="product-main-image">{{- product.field_image -}}</div>
      {% if product.field_image['#items']|length > 1 %}
        <div class="product-main-image-nav">{{- product.field_image -}}</div>
      {% endif %}
    {% endif %}
  </div>
  <div class="product-details">
    <h1 class="product-title">{{- product.title -}}</h1>
    <div class="product-fields">{{- product|without('field_image', 'variation_field_image') -}}</div>
  </div>
</article>