{#
/**
 * @file
 * Video Filter (HTML5).
 */
#}
<div class="video-filter">
  <iframe src="{{ video.iframe.src }}" {% if video.width %}width="{{ video.width }}"{% endif %} {% if video.height %}height="{{ video.height }}"{% endif %} class="{{ video.classes|join(' ') }}"{% for key, value in video.iframe.properties %} {{ key }}="{{ value }}"{% endfor %} frameborder="0"></iframe>
</div>
