<header class="header full-width">
  {% if page.header_top %}
    <div class="header-top full-width">
      <div class="container">
        <div class="header-top-blocks full-width">
          {{ page.header_top }}
        </div>
      </div>
    </div>
  {% endif %}
  <div class="header-main full-width">
    <div class="container">
      <div class="header-main-container full-width">
        {% if page.site_branding %}
          <div class="site-branding-region">
            {{ page.site_branding }}
          </div> <!--/.site-branding -->
        {% endif %}
        {% if page.search_box %}
          <div class="header-search">
            {{ page.search_box }}
          </div>
        {% endif %}
        <div class="header-right">
          {% if page.header %}
            {{ page.header }}
          {% endif %}
          {% include '@kart/parts/header/user-menu.html.twig' %}
          {% if page.primary_menu %}
            <div class="mobile-menu-icon">
              <span></span>
              <span></span>
              <span></span>
            </div>
          {% endif %}
        </div>{# header-right #}
      </div><!--/header-main-container -->
    </div><!--/container-->
  </div><!--/header-main-->
  {% if page.primary_menu %}
  <div class="header-menu full-width">
    <div class="container">
      <div class="primary-menu-wrapper">
        <div class="menu-wrap">
          <div class="close-mobile-menu" aria-label="close menu" ><i class="bi bi-x"></i></div>
          {{ page.primary_menu }}
         </div>{# container #}
      </div>{# menu-wrap #}
    </div>{# container #}
  </div>{# header-menu #}
  {% endif %}    
</header>
{% if not is_front %}
  <div class="page-header">
    <div class="container">
      {{ page.page_header }}
    </div>
  </div>
{% endif %}
{% if page.hero %}
  {% include '@kart/parts/header/hero.html.twig' %}
{% endif %}