<a class="social-link social-link-{{ platform_key }}" rel="nofollow" title="{{ ('Fark')|t }}" {% if btn_bg_color %}style="background-color:{{ btn_bg_color }}"{% endif %} alt="{{ 'Fark'|t }}" data-link="https://cgi.fark.com/cgi/fark/submit.pl?new_url={{ entity_url }}%2F" href="javascript:void(0)">
    <span class="better-social-share-svg" style="width:{{ buttons_size??'22' }}px;height:{{ buttons_size??'22' }}px;" title="{{ 'Fark'|t }}">
        <svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 32 32">
            <path fill="{{ icon_color|default('#fff') }}" d="M22.925 9.77V5.613H9.075v20.772h5.54v-8.31h8.31v-4.153h-8.31V9.77"></path>
        </svg>
    </span>
    <span class="social-media-share-label">
        {{ 'Fark'|t }}
    </span>
</a>
