<a class="social-link social-link-{{ platform_key }}" rel="nofollow" title="{{ ('Flipboard')|t }}" {% if btn_bg_color %}style="background-color:{{ btn_bg_color }}"{% endif %} alt="{{ 'Flipboard'|t }}" data-link="https://share.flipboard.com/bookmarklet/popout?v=2&amp;url={{ entity_url }}%2F&amp;title={{ entity_title }}" href="javascript:void(0)">
    <span class="better-social-share-svg" style="width:{{ buttons_size??'22' }}px;height:{{ buttons_size??'22' }}px;" title="{{ 'Flipboard'|t }}">
        <svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 32 32">
            <path fill="{{ icon_color|default('#fff') }}" d="M19 19H7V7h12v12z"></path>
            <path fill="{{ icon_color|default('#fff') }}" d="M25 13H7V7h18v6z"></path>
            <path fill="{{ icon_color|default('#fff') }}" d="M13 25H7V7h6v18z"></path>
        </svg>
    </span>
    <span class="social-media-share-label">
        {{ 'Flipboard'|t }}
    </span>
</a>
