<a class="social-link social-link-{{ platform_key }}" rel="nofollow" title="{{ ('Goodreads')|t }}" {% if btn_bg_color %}style="background-color:{{ btn_bg_color }}"{% endif %} alt="{{ 'Goodreads'|t }}" data-link="https://www.goodreads.com/update_status?url={{ entity_url }}%2F" href="javascript:void(0)">
    <span class="better-social-share-svg" style="width:{{ buttons_size??'22' }}px;height:{{ buttons_size??'22' }}px;" title="{{ 'Goodreads'|t }}">
        <svg height="100%" version="1.1" viewBox="0 0 60 60" width="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g fill="none" fill-rule="evenodd" id="black" stroke="none" stroke-width="1">
                <g id="slice" transform="translate(-500.000000, -400.000000)"></g>
                <g fill="{{ icon_color|default('#fff') }}" id="goodreads" transform="translate(19.000000, 12.000000)">
                    <path d="M10.8990615,25.0028068 C14.9449077,24.9716533 17.8218615,23.0982126 19.5286769,19.3821 L19.6184,19.3821 L19.6184,25.0493448 C19.6184,25.4716478 19.5884923,26.1266405 19.5286769,27.0166306 C19.4069692,27.9381588 19.0821385,28.9293016 18.5546,29.9912129 C18.0258154,30.9904326 17.1722,31.841577 15.9954154,32.5438769 C14.8319231,33.309253 13.2086,33.7069409 11.1246154,33.738479 C9.11623077,33.738479 7.41813846,33.2542536 6.02826154,32.2861874 C4.60806154,31.3338903 3.77770769,29.7877536 3.5372,27.6493159 L1.77056923,27.6493159 C1.95167692,30.4281311 2.90955385,32.411186 4.64627692,33.5977113 C6.33689231,34.7369294 8.48152308,35.3076923 11.0793385,35.3076923 C13.646,35.3076923 15.6473231,34.8626973 17.0816462,33.9723225 C18.5006,33.1138705 19.5191231,32.0438824 20.1392923,30.7638966 C20.7582154,29.4835263 21.1279077,28.2654629 21.2483692,27.1104757 C21.3397538,25.9551039 21.3846154,25.1278054 21.3846154,24.627811 L21.3846154,1.25460914 L19.6175692,1.25460914 L19.6175692,6.40685958 L19.5278462,6.40685958 C18.8482769,4.51803442 17.7234154,3.08958875 16.1524308,2.12113797 C14.5673231,1.16884086 12.8152308,0.692307692 10.8982308,0.692307692 C7.55978462,0.754999303 5.02344615,1.9492168 3.28796923,4.27572941 C1.50555385,6.58608836 0.615384615,9.43605669 0.615384615,12.824096 C0.615384615,16.3059804 1.46027692,19.186333 3.15130769,21.465923 C4.85936923,23.7932049 7.44056923,24.9720379 10.8990615,25.0028068 L10.8990615,25.0028068 Z M4.51169231,5.54109997 C5.89990769,3.43304647 8.02916923,2.3403663 10.8990615,2.26229025 C13.8433077,2.34075091 16.0244923,3.40227758 17.4446923,5.44763947 C18.8636462,7.49338597 19.5739538,9.9522048 19.5739538,12.8252498 C19.5739538,15.6982948 18.8636462,18.1413446 17.4446923,20.155553 C16.0244923,22.29476 13.8433077,23.3874401 10.8990615,23.4339781 C8.12055385,23.3870555 6.00583077,22.3255289 4.55655385,20.2490135 C3.09149231,18.2351897 2.35958462,15.7602172 2.35958462,12.8252498 C2.35958462,10.0768188 3.07695385,7.64876886 4.51169231,5.54109997 L4.51169231,5.54109997 Z"></path>
                </g>
            </g>
        </svg>
    </span>
    <span class="social-media-share-label">
        {{ 'Goodreads'|t }}
    </span>
</a>
