<a class="social-link social-link-{{ platform_key }}" rel="nofollow" title="{{ ('Linkedin')|t }}" {% if btn_bg_color %}style="background-color:{{ btn_bg_color }}"{% endif %} alt="{{ 'Linkedin'|t }}" data-link="https://www.linkedin.com/sharing/share-offsite/?url={{ entity_url }}%2F" href="javascript:void(0)">
    <span class="better-social-share-svg" style="width:{{ buttons_size??'22' }}px;height:{{ buttons_size??'22' }}px;" title="{{ 'Linkedin'|t }}">
        <svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 32 32">
            <path d="M6.227 12.61h4.19v13.48h-4.19V12.61zm2.095-6.7a2.43 2.43 0 0 1 0 4.86c-1.344 0-2.428-1.09-2.428-2.43s1.084-2.43 2.428-2.43m4.72 6.7h4.02v1.84h.058c.56-1.058 1.927-2.176 3.965-2.176 4.238 0 5.02 2.792 5.02 6.42v7.395h-4.183v-6.56c0-1.564-.03-3.574-2.178-3.574-2.18 0-2.514 1.7-2.514 3.46v6.668h-4.187V12.61z" fill="{{ icon_color|default('#fff') }}"></path>
        </svg>
    </span>
    <span class="social-media-share-label">
        {{ 'Linkedin'|t }}
    </span>
</a>
