<a class="social-link social-link-{{ platform_key }}" rel="nofollow" title="{{ ('MySpace')|t }}" {% if btn_bg_color %}style="background-color:{{ btn_bg_color }}"{% endif %} alt="{{ 'MySpace'|t }}" data-link="https://myspace.com/post?u=https%253A%252F%252Fwww.heateor.com%252Fsassy-social-share-demo%252F&amp;t={{ entity_title }}&amp;l=3&amp;c={{ entity_title }}" href="javascript:void(0)">
    <span class="better-social-share-svg" style="width:{{ buttons_size??'22' }}px;height:{{ buttons_size??'22' }}px;" title="{{ 'MySpace'|t }}">
        <svg focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 32 32">
            <g fill="{{ icon_color|default('#fff') }}">
                <path d="M24 17.716c-2.21 0-4 1.79-4 4v1.712h8v-1.713c0-2.21-1.79-4-4-4z"></path>
                <circle cx="24" cy="12.571" r="3.999"></circle>
                <path d="M15.147 18.31c-2.054 0-3.72 1.66-3.72 3.71v1.408h7.437c.002-.615.002-1.148.002-1.408 0-2.05-1.664-3.71-3.72-3.71z"></path>
                <ellipse cx="15.147" cy="13.446" rx="3.719" ry="3.71"></ellipse>
                <path d="M7.148 18.875C5.41 18.875 4 20.277 4 22.008v1.42h6.295c.002-.636.002-1.178.002-1.42 0-1.73-1.41-3.133-3.15-3.133z"></path>
                <ellipse cx="7.148" cy="14.58" rx="3.148" ry="3.133"></ellipse>
            </g>
        </svg>
    </span>
    <span class="social-media-share-label">
        {{ 'MySpace'|t }}
    </span>
</a>
