<a class="social-link social-link-{{ platform_key }}" rel="nofollow" title="{{ ('Nextdoor')|t }}" {% if btn_bg_color %}style="background-color:{{ btn_bg_color }}"{% endif %} alt="{{ 'Nextdoor'|t }}" data-link="https://www.nextdoor.com/share/?url={{ entity_url }}%2F&amp;t={{ entity_title }}&amp;v=3" href="javascript:void(0)" title="{{ 'Nextdoor'|t }}">
    <span class="better-social-share-svg" style="width:{{ buttons_size??'22' }}px;height:{{ buttons_size??'22' }}px;" title="{{ 'Nextdoor'|t }}">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
             width="100%" height="100%"  viewBox="-3 -5 60 60" >
        <path fill="{{ icon_color|default('#fff') }}"
            d="M30.8,7.6c-6-0.1-11.6,2.7-15.1,7.5c-0.3,0.4-0.7,1.2-1.3,1.2c-2.8,0-3-3.5-3.1-6.6
            c0-0.5-0.4-0.8-0.9-0.8l-8.2,0c-0.5,0-0.9,0.4-0.9,0.9c0,0,0,0,0,0C1.6,17.4,3,22.5,12.3,24.6c0.5,0.1,0.9,0.6,0.9,1.1v17.1
            c0,0.5,0.4,0.9,0.9,0.9c0,0,0,0,0,0h8c0.5,0,0.9-0.4,0.9-0.9V25.1c-0.1-4.5,3.4-8.2,7.8-8.4c0.1,0,0.1,0,0.2,0
            c4.5,0.1,8.1,3.8,8,8.4v17.6c0,0.5,0.4,0.9,0.9,0.9h8c0.5,0,0.9-0.4,0.9-0.9V23.8C48.6,14.7,40.9,7.6,30.8,7.6z"/>
        </svg>
    </span>
    <span class="social-media-share-label">
        {{ 'Nextdoor'|t }}
    </span>
</a>
