<a class="social-link social-link-{{ platform_key }}" rel="nofollow" title="{{ ('Symbaloo Feeds')|t }}" {% if btn_bg_color %}style="background-color:{{ btn_bg_color }}"{% endif %} alt="{{ 'Symbaloo Feeds'|t }}" data-link="https://www.symbaloo.com/" href="javascript:void(0)">
    <span class="better-social-share-svg" style="width:{{ buttons_size??'22' }}px;height:{{ buttons_size??'22' }}px;" title="{{ 'Symbaloo Feeds'|t }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 32 32">
            <path d="M7 7h4.5v4.5H7zm6.75 0h4.5v4.5h-4.5zm6.75 0H25v4.5h-4.5zM7 13.75h4.5v4.5H7zm6.75 0h4.5v4.5h-4.5zm6.75 0H25v4.5h-4.5zM7 20.5h4.5V25H7zm6.75 0h4.5V25h-4.5zm6.75 0H25V25h-4.5z" fill="#FFF"></path>
        </svg>
    </span>
    <span class="social-media-share-label">
        {{ 'Symbaloo Feeds'|t }}
    </span>
</a>
